<html>
    <head>
        <title>DataViz</title>
        <style type="text/css">
            #viz {
                width: 900px;
                height: 700px;
            }
        </style>

    </head>
    <body>
        <div class="container" onload="draw()">
            <div id="viz"></div>
        </div>

        <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
        <script>
            function draw() {
                var config = {
                    container_id: "viz",
                    server_url: "bolt://localhost:7687",
                    server_user: "neo4j",
                    server_password: "P@ssw0rd1!",
                    labels: {
                        "URL": {
                            caption: "user_key",
                            size: "pagerank",
                            community: "community"
                        }
                    },
                    relationships: {
                        "POINTS_TO": {
                            caption: false,
                            thickness: "count"
                        }
                    },
                    initial_cypher: "MATCH p=()-[r:POINTS_TO]->() RETURN p"
                }
                var viz = new NeoVis.default(config);
                viz.render();
            }
        </script>
    </body>
</html>